/*
Theme Name: Shopstar! Lu
Theme URI: https://unesma.net
Template: shopstar
Author: Luciano Nahuel Vitale
Author URI: http://luvitale.local
Description: Shopstar! is a super stylish, fully responsive, easy to use WordPress theme perfect for an online store, fashion website or blog. Its minimalist design features let your products and visuals do the talking. Integrated with powerful plugins like SiteOrigin's Page Builder, WPForms and Recent Posts Widget Extended, as well as being Woocommerce-ready - it's easily customisable and ready to go. Download it today and get your customers shopping up a storm! Shopstar! Lu is based in Shopstar! theme by Out the Box: https://www.outtheboxthemes.com/wordpress-themes/shopstar/
Tags: one-column,two-columns,left-sidebar,right-sidebar,flexible-header,accessibility-ready,custom-background,custom-colors,custom-header,custom-menu,custom-logo,editor-style,featured-images,footer-widgets,full-width-template,theme-options,threaded-comments,translation-ready,wide-blocks,e-commerce,photography,portfolio
Version: 1.0.95.1614319105
Updated: 2021-02-26 02:58:25

*/

section#barber-contact {
  color: black;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
}
